{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Cuenta{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <label for="mail">Editar Mail</label>
  <input name="email" id="email" value="{{user['email']}}" required />
  <input type="submit" value="Cambiar" />
</form>
<form action="{{ url_for('auth.delete_user') }}" method="post">
  <input
    class="danger"
    type="submit"
    value="Borrar"
    onclick="return confirm('Estas seguro?');"
  />
</form>

{% endblock %}
